# Cache objects
packer_cache/

# For built boxes
*.box
aws-marketplace.json
/auditkube.log
/cluster_dir

.terraform/
.idea/
**/*.pem
**/*.auto.*
**/*.tfstate.*
**/*.tfstate
eks/kubeconfig.yaml
eks/kubeconfig.yaml

.DS_Store
*~

.idea/
.terraform.lock.hcl
